@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    outline: none;
}


:root {
    --white: #afafaf;
    --red: #e31b23;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: hsl(0, 0%, 14%);
    --bgFormElsFocus: hsl(0, 7%, 20%);
  }
  

body{
    background: #121212;
}

header{
    background: rgb(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    padding:0 3rem;
}

.bgVid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.logo img{
    position: relative;
    width: 10vw;
    height: 7.5vh;
}
.nav .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.links a{
    font-size: 1rem;
    color: #ffffff;
}

.Menu{
    display: none;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

/* main header */

main{
    position: relative;
    top: 1rem;
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.personal img{
    width: 10vw;
    height: 20vh;
    border-radius:100px;
    z-index: 4;
}

.personal h1{
    font-size: 5rem;
    padding-bottom: 2.1rem;
}

.personal .type{
    font-size: 2rem;
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials .lang{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    gap: 1.4rem;
    position: relative;
}
.socials .lang div{
    transform: rotate(90deg);
}
.socials .social_media{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.social_media a svg{
    transform: scale(1.3);
}
.social_media a {
    color: rgb(255, 255, 255);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 0 3rem;
}

.info .about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-bottom: 2rem;

}
.about h3{
    color: gray;
}
.about h1{
    font-size: 3rem;
}
.about1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about1 p{
    line-height: 2rem;
}
.about1 img{
 width:70vw;
 padding-left: 3rem;
 padding-top: 3rem;
 height: 60vh
}
.info h1{
    padding: 1rem;
}
.info .ski{
    color: gray;
    font-size: .9rem;
    padding: 2.5rem 1rem;
}
.resume{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
 .resume_info{
    background: #171616;
    border-left: 2px solid green;
    color: #fff;
    padding: 1rem;
}

.resume div h3{
    color: rgb(162, 160, 160);
}

.bars{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
 .bars .grade{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10rem;
    color: #fff;
}
.bars .bar{
 height: 1vh;
 width: 100%;
 background: rgb(46, 47, 46);
 border-radius: .5rem;
}
.bar .line{
    height: 1vh;
    width: 95%;
    background: rgb(53, 114, 53);
    border-radius: .5rem;
}
.bar .line2{
    height: 1vh;
    width: 50%;
    background: rgb(53, 114, 53);
    border-radius: .5rem;
}
.bar .line3{
    height: 1vh;
    width: 80%;
    background: rgb(53, 114, 53);
    border-radius: .5rem;
}
.bar .line4{
    height: 1vh;
    width: 90%;
    background: rgb(53, 114, 53);
    border-radius: .5rem;
}
.bar .line5{
    height: 1vh;
    width: 40%;
    background: rgb(53, 114, 53);
    border-radius: .5rem;
}


.resumeImage img{
    position: relative;
    bottom: 9rem;
    width: 40vw;
    height: 80vh;
    padding-left: 5rem;
}

.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
@media (max-width: 1024px){

    .logo img{
        height: 4vh;
    }
    main{
        top: 7rem;
    }
    .bgVid{
        top: 0;
        height: 100vh;
    }
    .socials .lang{
        top: 4.5rem;
    }
    .socials .social_media{
        top: 3rem;
    }
    .personal h1{
        font-size: 3rem;
        padding-bottom: 2.1rem;
    }
    

}

@media (max-width: 768px){
    .nav{
        padding-top: 0rem;
        height: 14vh;
    }
    .Menu{
        display: flex;
    }
    .Menu svg{
        transform: scale(2);
    }
    .nav .links{
        display: none;
        top: 6rem;
        padding:2rem  3rem 1rem 1rem;
        flex-direction: column;
        background-color: black;
        border-radius: .5rem;
        align-items: start;
        transition: 0.5s ease-in-out;
        gap: 1rem;
        z-index: 1;
        box-shadow: 2px 3px 3px #000;
    }
    .end{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
    .nav  .active{
       display: flex;
       position: relative;
       left: 30%;
    }
    .about1{
        flex-direction: column;
       
    
    }

}

@media (max-width: 430px){
  
  

    .logo img{
        width: 20vw;
        height: 4vh;
    }
   

 
    .bgVid{
        top: 0;
        height: 100vh;
    }

    .personal h1{
        font-size: 3rem;
    }
    .socials .lang{
        top: 5.5rem;
    }
    .socials .social_media{
        top: 3rem;
    }
}



.imgForm img{
    width: 50vw;
    height: 60vh;
}



a {
    color: inherit;
  }
  
  input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: 100%;
  }
  
  button,
  label {
    cursor: pointer;
  }
  
  select {
    appearance: none;
  }
  
  /* Remove native arrow on IE */
  select::-ms-expand {
    display: none;
  }
  
  /*Remove dotted outline from selected option on Firefox*/
  /*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
  /*We use !important to override the color set for the select on line 99*/
  select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
  }
  
  textarea {
    resize: none;
  }
  
  ul {
    list-style: none;
  }
 
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  
  /* FORM ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form h1 {
    margin-bottom: 1.5rem;
  }
  
  .my-form li,
  .my-form .grid > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .my-form select,
  .my-form input,
  .my-form textarea,
  .my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
      transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .my-form textarea {
    height: 170px;
  }
  
  .my-form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus,
  .my-form button:enabled:hover,
  .my-form button:focus,
  .my-form input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus);
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus {
    transform: scale(1.02);
  }
  
  .my-form *:required,
  .my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 15px 15px;
  }
  
  .my-form *:required {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg);  
  }
  
  .my-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
  }
  
  .my-form *:disabled {
    cursor: default;
    filter: blur(2px);
  }
  
  
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form .required-msg {
    display: none;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/asterisk.svg)
      no-repeat center left / 15px 15px;
    padding-left: 20px;
  }
  
  .my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
  }
  
  .my-form button {
    font-weight: bold;
  }
  
  .my-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
  }
  
  .my-form button:enabled:hover .back,
  .my-form button:focus .back {
    transform: translate(-50%, -50%);
  }
  
  .my-form button:enabled:hover .front,
  .my-form button:focus .front {
    transform: translateX(110%);
  }
  
  
  /* CUSTOM CHECKBOX
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .my-form input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 2rem;
    transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .my-form input[type="checkbox"] + label::before,
  .my-form input[type="checkbox"] + label::after {
    content: '';
    position: absolute;
  }
  
  .my-form input[type="checkbox"] + label::before {
    left: 0;
    top: 6px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--white);
  }
  
  .my-form input[type="checkbox"]:checked + label::before {
    background: var(--red);
  }
  
  .my-form input[type="checkbox"]:checked + label::after {
    left: 7px;
    top: 7px;
    width: 6px;
    height: 14px;
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--white);
    transform: rotate(45deg);
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  footer {
    font-size: 1rem;
    text-align: right;
    backface-visibility: hidden;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (min-width: 600px) {
    .my-form .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
  
    .my-form .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .my-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .my-form .grid > *:not(:last-child) {
      margin-bottom: 0;
    }
  
    .my-form .required-msg {
      display: block;
    }
  }
  
  @media screen and (min-width: 541px) {
    .my-form input[type="checkbox"] + label::before {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .my-form input[type="checkbox"]:checked + label::after {
      top: 3px;
    }
  }